name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:

  jmeter-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python, Java Runtime and Taurus
        run: |
          sudo apt update
          sudo apt install python3 default-jre-headless python3-tk python3-pip python3-dev libxml2-dev libxslt-dev zlib1g-dev net-tools
          sudo python3 -m pip install bzt

      - name: Run JMeter Test
        run: bzt kostal_performance.jmx

  sonarqube:
    name: SonarQube
    runs-on: macos-latest


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with coverage
        env:
          HA_REST_URL: ${{ secrets.HA_REST_URL }}
          HA_TOKEN: ${{ secrets.HA_TOKEN }}
        run: |
          export PYTHONPATH="$PYTHONPATH:$(pwd)"
          pytest tests \
            --junitxml=test-results.xml \
            --cov=app \
            --cov-report=xml

      - name: SonarQube Analysis
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

