name: Python CI with SonarCloud

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HA_REST_URL: ${{ secrets.HA_REST_URL }}
      HA_TOKEN: ${{ secrets.HA_TOKEN }}

      BATTERY_POWER_IN: ${{ secrets.BATTERY_POWER_IN }}
      BATTERY_POWER_OUT: ${{ secrets.BATTERY_POWER_OUT }}
      BATTERY_SOC: ${{secrets.BATTERY_SOC}}
      HOME_POWER: ${{secrets.HOME_POWER}}
      TOTAL_DC_INPUT: ${{secrets.TOTAL_DC_INPUT}}
      TOTAL_ENERGY_FROM_GRID: ${{ secrets.TOTAL_ENERGY_FROM_GRID }}
      TOTAL_ENERGY_TO_GRID: ${{ secrets.TOTAL_ENERGY_TO_GRID }}
      TOTAL_HOME_CONSUMPTION: ${{ secrets.TOTAL_HOME_CONSUMPTION }}


    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest coverage

      - name: Tests & Coverage
        run: |
          coverage run -m pytest
          coverage xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
